<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="aptogether.model.AptInfo" alias="AptInfo" />
		<typeAlias type="aptogether.model.Member" alias="Member" />
		<typeAlias type="aptogether.model.ManageFee"
			alias="ManageFee" />
		<typeAlias type="aptogether.model.Market_Product"
			alias="Market_Product" />
		<typeAlias type="aptogether.model.Marketreply"
			alias="Marketreply" />
		<typeAlias type="aptogether.model.Schedule" alias="Schedule" />
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source"
					value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="aptogether/mapper/Apt.xml" />
		<mapper resource="aptogether/mapper/Member.xml" />
		<mapper resource="aptogether/mapper/ManageFee.xml" />
		<mapper resource="aptogether/mapper/schedule.xml" />
		<mapper resource="aptogether/mapper/Market_Product.xml" />
	</mappers>

</configuration>
